/*设置表格头靠左、字体大小，字体颜色*/
.table-view .column-header .label{
    -fx-alignment: center;
    -fx-font-family: Consolas;
    -fx-text-fill: rgba(68,68,68,0.96);
    -fx-font-size: 12;
}

/*设置表格头高度*/
.table-view > .column-header-background{
    -fx-pref-height: 25;
}

/*设置每一列内容居中，每一行高度*/
.table-row-cell{
    -fx-cell-size: 25px;
    -fx-alignment: center;
}

.t3{
    -fx-table-cell-border-color:transparent;
    -fx-border-color: green;
    -fx-alignment: center;
}

/*设置每一列内容居中*/
.t3 .table-column{
    -fx-alignment: center;
}


.table-column:hover{
    -fx-background-color: #37805b;
    -fx-font-weight: bold;
}
